:root{
    /*Main*/
    --bgColor: #2f3251;
    --webTextColor: #f4f1de;
    --nuocMamColor: #F97E52;

    /*Navigation bar*/
    --navbarColor: #2f3251;
    --navbarLowOpaColor: rgba(47, 50, 81, 0.5);
    --linkNavbarColor: #f4f1de;
    --underlineLinkNavColor: #F97E52;

    --menuNavColor: #F97E52;

    /*Header text*/
    --headerTextColor: #F97E52;

    /*Subtitle*/
    --subTitleColor: #F97E52;

    /*About me*/
    --aboutmeTextColor: #f4f1de;
    --underlineAboutmeTab: #F97E52;
    --titleInTabColor: #F97E52;

    /*Tools*/
    --toolsBgColor: #81b29a;
    --toolsHoverColor: #F97E52;
    --toolsTextColor: #f4f1de;
    --toolsTextHoverColor: #f4f1de;

    /*Projects*/
    --projectStatusColor: #2f3251;
    --projectDescriptBgColor: #81b29a;
    --projectToolUsedColder: #F97E52;
    --linkCircleColor: #f4f1de;

    /*Contact*/
    --contactIconColor: #F97E52;
    --socialMediaColor: #f4f1de;
    --socialMediaHoverColor: #F97E52;

    --inputBoxColor: #81b29a;
    --inputTextColor: #f4f1de;
    --placeHolderInputColor: #f4f1de;

    /*Button*/
    --buttonColor: #F97E52;
    --buttonTextColor: #f4f1de;

    /*Copy right - Footer*/
    --footerColor: #F97E52;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca Regular", sans-serif;
}
/* ----------------Scroll---------------- */
::-webkit-scrollbar {
    width: 7px;
}  
/* Track */
::-webkit-scrollbar-track {
    background: var(--bgColor);
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--nuocMamColor);
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--bgColor);
    color: var(--webTextColor);
}

#header{
    width: 100%;
    height: 100vh;
}

.nuoc-mam{
    color: var(--nuocMamColor);
}

.container{
    padding: 10px 14%;
    overflow: hidden; /*Prevent overflow causing unnecessary horizontal scroll*/
}
.container.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo{
    width: 140px;
    position: relative;

}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
}
nav ul li a{
    color: var(--linkNavbarColor);
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--underlineLinkNavColor);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    /* position: absolute;
    margin: 20% 0 0 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.header-text h1 span{
    color: var(--headerTextColor);
}
.auto-type{
    color: var(--headerTextColor);
}

/* ----------------About me---------------- */
#about-me{
    padding: 60px 0 0 0;
    color: var(--aboutmeTextColor);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    /* Column 1 takes up 35% of the row */
    flex-basis: 35%;
}
.about-col-1 img{
    padding: 20px 0 0 0;
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
    display: block;
    margin: auto;
}
.about-col-2{
    /* Column 2 takes up 60% of the row, leaving 5% space in between 2 columns */
    flex-basis: 60%;
}

.sub-title{
    font-size: 55px;
    font-weight: 600;
    color: var(--subTitleColor);
    display: flex;
    flex-direction: row;
}
.sub-title:not(.contact-text):after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
.sub-title:not(.contact-text):after {
    margin-left: 40px
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--underlineAboutmeTab);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
#bullet-list{
    text-indent: 20px;
}
.tab-contents ul li span{
    color: var(--titleInTabColor);
    font-size: 15px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ----------------Projects---------------- */
#projects{
    padding: 60px 0;
}
.project-left{
    flex-basis: 49%;
}
.project-right{
    flex-basis: 49%;
}
/* .extra-padding-in-project{margin-top: 50px;} */
.project-row{
    width: 85%;
    transition: width 0.5s;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* make img overflow scrollable */
.project-col:has(img){
    height: 270px;
    border-radius: 5px;
    overflow-y: scroll;
    transition: height 0.5s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.project-col:has(img)::-webkit-scrollbar {
    width: 5px;
}

.project-col h3{
    font-size: 200%;
    padding-bottom: 15px;
}
.project-col img{
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
    display: block;
    margin: auto;
}

.project-left h3{
    text-align: left;
}
.project-right h3{
    text-align: right;
}
.project-status{
    color: var(--projectStatusColor);
    font-size: 14px;;
}
.project-col p{
    background-color: var(--projectDescriptBgColor);
    text-align: left;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.5);
}
.project-col i{
    text-decoration: none;
    font-size: 30px;
    color: var(--webTextColor);
    margin: 15px 5px 10px 5px;
    transition: color 0.5s, transform 0.5s;
}
.project-col i:hover{
    transform: translateY(-5px);
    color: var(--socialMediaHoverColor);
}
.source-icon, .browser-mockup{
    direction: ltr;
}

.project-left .source-icon{
    float: left;
}
.project-right .source-icon{
    float: right;
}

@media only screen and (min-width: 768px){
    .project-row:nth-child(odd){
        direction: rtl;
        float: right;
        margin-bottom: 50px;
    }
}

/* ----------------Button---------------- */
.btn{
    display: block;
    margin: 30px auto 0 auto;
    width: -moz-fit-content; /*Apparently firefox has problem with fit-content so we have to add this*/
    width: fit-content;
    border: 1px solid var(--buttonColor);
    padding: 14px 50px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 15px;
    color: var(--buttonTextColor);
    transition: background 0.5s;
}
.btn:hover{
    background: #F97E52;
}

/* ----------------Contact---------------- */
#contact{
    padding: 80px 0 0 0;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: var(--contactIconColor);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--socialMediaColor);
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: var(--socialMediaHoverColor);
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #F97E52;
}
.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--inputBoxColor);
    padding: 10px;
    margin: 12px 0;
    color: var(--inputTextColor);
    font-size: 13px;
    border-radius: 4px;
}

.input-field {
    position: relative;
    line-height: 44px;
}
label {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 100%;
    color: var(--webTextColor);
    transition: 0.2s all;
    cursor: text;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    font-size: 13px;
    top: -20px;
    color: var(--buttonColor);
}

form .btn2{
    padding: 14px 60px;
    margin-top: -2px;
    cursor: pointer;
}

.msg-box{
    margin-top: 7px;
    height: 30px;
}
#msg{
    font-size: 14px;
    color: rgb(55, 131, 55);
}

.copyright{
    width:100%;
    text-align: center;
    padding: 30px 0;
    background: var(--footerColor);
    font-weight: 300;
    font-size: 12px;
}
.round{
    width: 100px;
    height: 50px;
    margin: 90px auto -30px auto;
    background-color: var(--footerColor);
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    text-align: center;
    transition: 0.5s;
}
.round i{
    margin-top: 10px;
}
.round:hover{
    transform: translateY(-10px);
}
.round a{
    text-decoration: none;
    color: var(--webTextColor);
}
/* ----------------CSS for mobile screen---------------- */
nav .fas{
    display: none;
}
@media only screen and (max-width: 768px){
    .container{
        padding: 10px 9%;
    }
    /* #header{
        background-image: url("/img/phone-background.png");
    } */
    .header-text{
        margin: 70% 0 0 5%;
        font-size: 25px;
    }
    .header-text h1{
        font-size: 50px;
    }
    .header-text h1 span{
        font-size: 70px;
    }
    
    .container.sub-title{
        font-size: 35px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        margin-bottom: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 30px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-right{
        margin-top: 20px;
    }
    .copyright{
        font-size: large 14%;
    }

    /* Project related */
    .project-left, .project-right{
        flex-basis: 100%;
    }
    .project-col h3{
        font-size: 150%;
        margin-top: 15px;;
        padding-bottom: 15px;
        text-align: left;
    }
    .project-col:has(img){
        height: 200px;
    }
    .project-row .source-icon{
        float: right;
    }


    /* Meant for below 1000px */
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: var(--menuNavColor);
        position: fixed;
        top: 0;
        right: -170px;
        width: 170px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /* Project related */
    .project-row{
        width: 100%;
    }
}
